<%- include('../includes/head.ejs')%>
    <link rel="stylesheet" href="/css/product.css" />
  </head>
  <body>
    <%- include('../includes/navigation.ejs')%>
    <main>
      <% if(cart.length>0){%>
        <ol>
          <% for(let i=0;i<cart.length;i++ ) { %>

              <li>
                <ul>
                  <li>
                    title of the product  <%= cart[i].title%>
                  </li>
                  <li>
                    price is  <%= cart[i].price%>
                  </li>
                  <li>
                    quantity is <%= cart[i].qty%>
                  </li>
                </ul>
              </li>
        <%}%>
      </ol>
      <%}else{%>
        <h1>no Products in the cart</h1>
        <%}%>
    </main>
    <%- include('../includes/end.ejs')%>