<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if(orders.length>0){ %>
                <% orders.forEach((order=>{ %>
                <ol>
                    <h2><%= order.id %></h2>
                    <%order.products.forEach((product)=>{%>
                    <li>
                        <h4>title <%=product.title%></h4>
                    </li>
                    <%});%>
                </ol>
                <%}));%>
                <%}else{%>
            <h1>Nothing there!</h1>
            <%}%>
        </main>
        <%- include('../includes/end.ejs') %>